<div id="main" class="clearfix">
  <div id="list" class="left">
    <h2 class="underline text-bold"><%= __('articles') %></h2>
    <%- partial('_partial/list') %>
  </div>
  <div id="sidebar" class="right">
    <%- partial('_partial/sidebar') %>
  </div>
</div>
