<ul>
  <% page.posts.each(function(item){ %>
    <li>
      <a data-pjax href="<%- config.root %><%- item.path %>"><%= item.title %></a>
      <span> [ <%= date(item.date, null) %> ] </span>
    </li>
  <% }); %>
</ul>